* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

#board div {
    width: 10px;
    height: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    float: left;
}

#board div.live {
    background-color: #000000;
}

#board {
    margin: 15px auto;
    min-height: 100px;
    min-width: 100px
}

#game-menu {
    margin: 50px auto;
    width: auto;
}

.gameStart {
    margin: 0 auto;
    border: 1px solid #fff;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 25px;
    text-align: center;
}

form p {
    margin: 10px;
}

.gameStart button {
    display: block;
    margin: 10px auto 0;
}

.hidden {
    display: none;
}

#game-set {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #fff;
    padding: 30px;
    width: 300px;
    border-radius: 5px;
    font-family: arial;
}

#play,
#pause {
    border-radius: 5px;
    width: 80px;
    background-color: #fff;
    border: 1px solid #fff;
    height: 30px;
    font-weight: 700;
}

#play:hover,
#pause:hover {
    background-color: #ccc;
}

.gameStart button {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin-top: 30px;
    font-weight: 700;
}

.gameStart button:hover {
    background-color: #ccc;
}